.container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-now {
  width: var(--mobileWidth);
  height: 56.5vh;
  background-image: url('../Assets/5.jpg');
  background-size: cover;
  border-radius: 0.5rem;
  display: grid;
  grid-template-rows: 0.9fr 0.7fr 0.7fr;
  grid-template-areas:
    'Top'
    'Middle'
    'Bottom';
}

.title-container {
  grid-area: Top;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title-container h2 {
  margin: 0 0 0 5vw;
  font-family: var(--fontTwo);
  font-weight: 400;
  font-size: var(--textXXL);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.date-container {
  grid-area: Bottom;
  justify-self: center;
  align-self: end;
  width: 90%;
  height: 90%;
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: translateY(30px);
}

.date-container input {
  width: 25vw;
  height: 2.5vh;
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  font-family: var(--fontThree);
  font-size: 2vw;
  outline-color: var(--main);
}

.date-container button {
  width: 15vw;
  height: 2.8vh;
  border: none;
  background-color: var(--accent);
  border-radius: 0.5rem;
  color: var(--white);
  font-family: var(--fontThree);
  font-weight: 500;
  font-size: var(--textXS);
  letter-spacing: 0.025rem;
  padding-bottom: 0.1rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 1024px) {
  .container {
    height: 90vh;
  }

  .book-now {
    width: var(--desktopWidthL);
    height: 89vh;
    background-size: 100% 115%;
  }

  .title-container h2 {
    font-size: clamp(2rem, 5.6vw, 7rem);
  }

  .date-container {
    width: 75%;
    height: 50%;
    transform: none;
    margin-bottom: 2rem;
  }

  .date-container input {
    width: 18.5vw;
    height: 3.2vh;
    font-size: 1vw;
  }

  .date-container button {
    width: 8.2vw;
    height: 3.55vh;
  }
}
