.jumbotron {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron-card {
  width: 100%;
  height: 100vh;
  background-image: url('../Assets/3.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-container h1 {
  margin: 0 0 0 5vw;
  font-family: var(--fontOne);
  color: var(--white);
  font-size: var(--textXXL);
  font-weight: 400;
}

.title-container h1 span {
  font-size: var(--textXXL);
  color: var(--accent);
}

.title-container hr {
  width: 25vw;
  margin: 2vh 0 2vh 5vw;
  background-color: var(--white);
  border-width: 0;
  border-bottom: 2px solid var(--white);
}

.title-container h3 {
  width: 55%;
  margin: 0 0 0 5vw;
  color: var(--white);
  font-family: var(--fontThree);
  font-weight: 400;
  font-size: var(--textL);
  letter-spacing: 0.11vw;
}

.cta-container {
  grid-area: Bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.cta-container p {
  color: var(--white);
  font-family: var(--fontThree);
  font-weight: 400;
  font-size: var(--textM);
}

.arrow {
  font-size: clamp(18px, 7vw, 28px);
  color: var(--white);
  animation: shake 2s ease infinite;
}

@keyframes shake {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-15deg) scale(1.2);
  }
  50% {
    transform: rotate(15deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1024px) {
  .jumbotron {
    margin-bottom: 1rem;
  }

  .jumbotron-card {
    width: 100%;
    background-image: url('../Assets/1.jpg');
    /* flex-direction: column-reverse; */
  }
}
