.navbar {
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  grid-area: Center;
  justify-self: center;
  align-self: center;
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: var(--textL);
  color: var(--white);
}

.title span {
  font-weight: 500;
}

.menu {
  display: none;
}

.hamburger {
  grid-area: Right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.3em;
}

@media only screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .title {
    margin-left: 1rem;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  .menu div {
    width: 6.8rem;
    display: flex;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    padding: 0.7em 0;
    font-family: var(--fontThree);
    font-size: var(--textS);
    color: var(--white);
  }

  .menu div:nth-of-type(2) {
    width: 8.8rem;
  }

  .menu div:hover {
    background-color: var(--accent);
    color: var(--white);
    transition: all 0.25s;
  }
} ;
