.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 0.5rem;
  margin: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.card-basic {
  width: 55%;
  min-height: 330px;
  background-color: white;
  color: var(--text);
}

.card-premium {
  width: 65%;
  min-height: 360px;
  background: linear-gradient(147deg, #97c4b1, #529277);
  color: var(--white);
}

.title {
  font-family: var(--fontThree);
  font-size: var(--textM);
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 1em 0 0.5em;
}

.features {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.price {
  margin: 0;
  font-family: var(--fontTwo);
  font-size: clamp(26px, 9vw, 38px);
  font-weight: 500;
}

.included {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.included p {
  font-family: var(--fontThree);
  font-size: var(--textM);
  margin: 0;
  padding: 0.7em 0 0.7em;
  border-bottom: 2px solid var(--main);
  text-align: center;
}

.included p:last-of-type {
  border-bottom: 2px solid transparent;
}

.included-premium p {
  border-bottom: 2px solid var(--white);
}

.btn {
  font-size: var(--textM);
  font-family: var(--fontThree);
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.1em 2.1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.btn-basic {
  border: 2px solid var(--text);
  color: var(--text);
}

.btn-premium {
  border: 2px solid var(--white);
  color: var(--white);
}

.price-warning {
  font-size: var(--textS);
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 90%;
    margin: 0 auto;
    flex-direction: row;
    gap: 3rem;
  }
}
