.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  font-size: var(--textM);
  font-family: var(--fontThree);
  font-style: italic;
  margin: 0 0 1.2em;
}

.services {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
