.container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'Top'
    'Middle'
    'Bottom';
  justify-items: center;
  align-items: center;
}

.sight-one {
  grid-area: Top;
}

.sight-two {
  grid-area: Middle;
}

.sight-three {
  grid-area: Bottom;
}

@media only screen and (min-width: 1024px) {
  .container {
    margin-top: 3vh;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'Top Middle Bottom';
    height: 89vh;
    align-items: center;
  }
}
