@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&family=Oswald:wght@300;400;500&display=swap');

:root {
  --fontOne: 'Abril Fatface', cursive;
  --fontTwo: 'Oswald', sans-serif;
  --fontThree: 'Open Sans', sans-serif;
  --main: #529277;
  --accent: #e28f92;
  --white: #f0f7f4;
  --text: #504746;
  --black: #141414;
  --mobileWidth: clamp(8rem, calc(88% + 1rem), 45rem);
  /* Extra Extra Large: Title H1 in JumboTron */
  --textXXL: clamp(42px, 13vw, 100px);
  /* Extra Large: Section Headers */
  --textXL: clamp(20px, 6.8vw, 38.5px);
  /* Large: Title, JumboTron Sub-Title */
  --textL: clamp(14px, 5vw, 25px);
  /* Medium: JumboTron Button, Sight Card Titles*/
  --textM: clamp(12px, 4vw, 20px);
  /* Small: */
  --textS: clamp(8px, 3vw, 15px);
  /* Extra Small: */
  --textXS: clamp(0.4rem, 2.5vw, 0.9rem);
  /* ========== Desktop ========== */
  --desktopWidthL: clamp(8rem, calc(84% + 1rem), 110rem);
  --desktopTextM: clamp(0.9rem, 2.2vw, 2.8rem);
}

@media only screen and (min-width: 1500px) {
  :root {
    --textXXL: clamp(42px, 13vw, 130px);
    /* Extra Large: Section Headers */
    --textXL: clamp(20px, 6.8vw, 42px);
    /* Large: Title, JumboTron Sub-Title */
    --textL: clamp(14px, 5vw, 30px);
    /* Medium: JumboTron Button, Sight Card Titles*/
    --textM: clamp(12px, 4vw, 25px);
    /* Small: */
    --textS: clamp(8px, 3vw, 20px);
    /* Extra Small: */
    --textXS: clamp(0.4rem, 2.5vw, 0.9rem);
  }
}
