.container {
  width: 90%;
  max-width: 550px;
  background-color: white;
  font-size: var(--textXL);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 1.5rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.picture {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 4 / 3;
  background-color: var(--text);
  background-size: cover;
  border-radius: 0.2rem;
  filter: brightness(0.45);
}

.icon-container {
  position: absolute;
  margin-top: 25%;
  font-size: inherit;
  display: flex;
  align-items: center;
  gap: 0.8em;
}

.circle {
  width: clamp(40px, 15vw, 80px);
  height: clamp(40px, 15vw, 80px);
  background-color: var(--main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: inherit;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: inherit;
  color: var(--white);
}

.divider {
  content: ' ';
  height: clamp(30px, 5.5vh, 60px);
  border-right: 2px solid var(--white);
}

.description {
  grid-area: Right;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin: 0 0 0.5em;
  font-size: var(--textL);
  font-family: var(--fontTwo);
  font-weight: 500;
  color: var(--black);
  text-align: center;
}

.desc {
  padding: 0 0 0 1em;
  margin: 0;
  font-family: var(--fontThree);
  font-size: var(--textS);
  border-left: 2px solid var(--main);
}
