.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  margin: 0 0 1.7rem 12%;
}

.circle {
  width: 13vw;
  height: 13vw;
  background-color: var(--main);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--textXL);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.icon {
  font-size: inherit;
  color: var(--white);
}

.divider {
  content: ' ';
  height: 5vh;
  max-height: 60px;
  border-right: 2px solid var(--text);
}

.title {
  margin: 0;
  font-size: var(--textL);
  font-family: var(--fontTwo);
  font-weight: 500;
  color: var(--black);
}
