.container {
  width: 90%;
  max-width: 550px;
  background-color: white;
  font-size: var(--textXL);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 1.5rem;
  margin: 1rem 0 3rem;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.picture {
  overflow: hidden;
  grid-area: Left;
  width: 100%;
  aspect-ratio: 4 / 3;
  justify-self: center;
  align-self: center;
  background-color: var(--text);
  background-size: cover;
  border-radius: 0.2rem;
}

.description {
  grid-area: Right;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  margin: 0 0 0.5em;
  font-size: var(--textL);
  font-family: var(--fontTwo);
  font-weight: 500;
  color: var(--black);
}

.desc {
  padding: 0 0 0 1em;
  margin: 0;
  font-family: var(--fontThree);
  font-size: var(--textS);
  border-left: 2px solid var(--accent);
}

@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: 0.9fr 1fr;
    grid-template-areas:
      'Left'
      'Right';
    width: 100%;
    height: 100%;
  }

  .picture {
    width: clamp(4.5rem, 25.5vw, 32rem);
    height: clamp(9rem, 21.2vw, 300px);
  }

  .description {
    width: 75%;
    height: 35vh;
  }

  .description h2 {
    justify-self: center;
    font-size: var(--desktopTextM);
  }
}
