@import './vars.css';

.AboutUs {
  width: 100%;
  height: 42vh;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUsReveal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUsText {
  width: var(--mobileWidth);
  height: 86%;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutUsText p {
  color: var(--white);
  font-family: var(--fontThree);
  font-size: var(--textS);
  line-height: 3vh;
  padding: 5vw;
}

.AboutUsText p span {
  font-weight: 500;
}

@media only screen and (min-width: 1024px) {
  .AboutUsText {
    width: clamp(8rem, 59% + 1rem, 75rem);
  }

  .AboutUsText p {
    line-height: 4.2vh;
  }
}
